<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>One Time Password Generator</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="otp.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="otp.js" type="text/javascript"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">One Time Password Generator</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="row" id="container">
					<div class="col-xs-6 col-sm-4 otpcontainer" id="col_0"></div>
					<div class="col-xs-6 col-sm-4 otpcontainer" id="col_1"></div>
					<div class="col-xs-6 col-sm-4 otpcontainer" id="col_2"></div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(load(/*[[${providerJson}]]*/{}));
		/*]]>*/
	</script>
</body>

</html>
